body
{
    background-color:rgb(155, 115, 6) ;
}
.forgotpage
{
    padding:10px 10px;
    background-color:rgb(122, 146, 66);
    height:450px;
    margin-top: 10px;  
    width:330px;
}

.flex
{
    margin:100px 290px 10px 290px;
    display:flex; 
}
.a
{
    padding:10px 1px;
}
.loginimg
{
    width:500px;
    height:470px;
}
.girlimage
{
    width:100px;
    height:100px;
    border-radius: 50%;   
    background-image: none;
    margin-left:120px;
    margin-top: 20px;
    
}

.margin
{
    margin-top:10px;
    margin-bottom: 10px;  
}
.title
{
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
}
input
{
    display:flex;
    flex-wrap: wrap;
    font-size:14px;
    padding:8px 10px;
    border-radius: 10px;
    margin-bottom:15px;
    width:280px;
    margin-left:10px;
    margin-top: 20px;  
}
.button
{
width:150px;
height:35px;
border-radius: 30px;
margin-left:90px;
margin-top:2px;
margin-bottom: 10px;
background-color:rgb(120, 89, 4) ;

}
.login
{
   
    margin-left:250px;
}
