.navbar
{
    padding:1px 10px;
     position: fixed; 
     width:100%;
     top:0px; 
    left:0px; 
    background-color:rgb(6, 75, 112);
    /* border: 2px solid black; */
    
   
}
.titleimage
{
    width:60px;
    height:60px;
    margin-left:43px;
    border-radius: 50%;
   
}
.display
{
    display:flex;
}
.title
{
    margin-left:635px;
    margin-top:22px;
    font-size:15px;
}
.text
{
    margin-left:60px;
    color:rgb(220, 220, 4)
}
.margin
{
    margin-top:50px;
}
.imagesize
{
    
    width:92%;
    height:650px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:15px;
}
.image
{
    margin-left:1000px;
   
}
.box
{
    position: absolute;
    top:500px;
    left:130px;
    width:150px;
    height:40px;  
    border-radius: 5px; 
}
.website
{
    padding:10px 10px;
    background-color: aliceblue;
}
.about
{
    padding:10px 10px;
    background-color:lavender;
    margin:10px 600px 10px 600px;
    text-align: center;
    border-radius: 30px;
}
.size
{
    width:600px;
    height:350px;
    margin-left:1px;
    margin-top: 50px;

}
.flex
{
    display:flex;
    /* border:2px solid black; */
    margin-left:120px;
    margin-right: 120px;
}
.border
{
   
    margin-top:100px;
    background-color: white;
    width:645px;
    height:250px;
    position: absolute;
    top:790px;
    left:630px;
    border: 2px solid black;
    
}
.without
{
    margin-left: 50px;
    font-size: 20px;
    color: brown;
    margin-bottom: -10px;
}
.text1
{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    line-height: 30px; 
    border: 2px solid black;
}
.border1
{
    width:700px;
    margin-top:100px;
    margin-left: 30px;
    height:250px;
    position: absolute;
    top:1250px;
    left:80px;
    background-color: white;
    border: 2px solid black;
   
   
}
.text2
{
   
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    line-height: 30px;
    border: 2px solid black;
   
   
}
.size1
{
    width:630px;
    height:360px;
    margin-left:600px;
    margin-top: 90px;
    
}
.divTag
{
    
    padding:10px 10px;
    background-color:aliceblue;
    margin-top:10px;
    margin-bottom: 10px;
}
.catagory
{
    /* border:2px solid black; */
    padding:10px 10px;
    text-align: center;
    margin:10px 560px 10px 560px;
    border-radius: 30px;
    background-color: lavender	;
}
.flex1
{
    padding:10px 10px;
    border:2px solid black;
    margin-left:50px;
    margin-right: 50px;
   

}
.classes
{
    width:200px;
    height:100px;
    border:2px solid black;
    margin-left: 50px;
    margin-top:20px;
    font-family: 30px;
    width:250px;
    height:150px;
    background:linear-gradient(to right ,rgb(4, 4, 110),blue,darkblue) ;
}
.Material
{
    padding:10px 10px;
    border:2px solid black;
    margin-left:20px;
}
.assignments
{
    padding:10px 10px;
    border:2px solid black;
}
.totalbox
{
    margin-left:20px;
    border:2px solid black;
    display:flex;
}
.video
{
    font-size:25px;
    margin-top:40px;
  
}