
.navbar
{
    width:100%;
    height:70px;
    background-color: white; 
    position: fixed;
    left:0px;
    top:0px;
   
}
.titleimage
{
    width:90px;
    height:70px;
    margin-left: 100px;
}
.display
{
    display: flex;
}
.title
{
    margin-top: 25px;
    margin-left: 20px;
}
.search1
{
     margin-left: 600px;
     margin-top:23px;
    
}
.search
{
    width:400px;
    height:28px;
    margin-left: 10px;
    margin-top: 17px;
    color:black;
    font-size:20px;
    text-align:center;
    border-radius: 10px;
}
.searchsize
{
    width:40px;
    height:33px;
    border-radius: 10px;
}
.searchbox
{
    
    width:40px;
    height:30px;
    margin-top:15px;
    border-radius: 10px;
    margin-left: 5px;
    /* border: 1px solid black; */
}
.nav
{
    width:100%;
    height:45px;
    position: fixed;
    left:0px;
    background-color:rgb(191, 205, 246);  
}
.margin
{
    margin-left: 20px;
    margin-top: 15px;
}
.text
{
    margin-left: 80px;
    font-size: 15px;
    color:black;
}
.a
{
    margin-left: 493px;
    margin-top: 20px;
}
.signup
{
    padding:6px; 
    font-size: 15px;
    margin-top: 6px;
    width:108px;
    border-radius: 30px;
}
.login
{
    padding:6px; 
    font-size: 15px;
    margin-top: 6px;
    width:108px;
    border-radius: 30px;
    margin-left: 20px;
}
#small
{
   width:100%;
   height:890px;
   background-image: url("../../public/resources/beautifull.png");
   background-size: cover;
  
}
.text1
{
    position: absolute;
    top:300px;
    left:100px;
    font-size: 20px;
    color: white;
}
.text2
{
    position: absolute;
    top:330px;
    left:100px;
    font-size: 20px;
    color: white;
  
}

.titletext
{
    position: absolute;
    top:250px;
    left:100px;
    font-size: 34px;
    color: white;
}

.box
{
    position: absolute;
    top:400px;
    left:100px;
   
}
.button
{
    width:150px;
    height:30px;
}
.quotesbox
{
    width:100%;
    border: 2px solid rgb(222, 227, 245); 
    height:70px;
    background-color:rgb(222, 227, 245);  
}
.quotes
{
    text-align: center;
    margin-top:25px;
    font-size:23px;
}
.border
{
    padding:10px 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    
}
.flex
{
    display:flex;
}
.text4
{
    width:700px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 5px;
}
.b
{
    margin-left: 250px;
    color:red;
    font-size: 23px;
}
.image
{
    
    margin-left: 23px;
    width:500px;
    height:354px;
}
.border1
{
    padding:10px 10px;
    /* border: 2px solid black;; */
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    text-align: center;
    background-color: rgb(207, 235, 244);
    border-radius: 30px;
}
.select
{
    border-radius: 30px;
    width:200px;
    height:25px;
    margin-top: 15px;
    padding-top: 5px;
    margin-left: 500px;
    background-color: rgb(173, 221, 247);
}
.totalbox
{
    display:flex;
    height:300px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.videosize
{
    width:280px;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
   
}
.classes
{
   
    margin-left: 30px;
    background-color: white;
    width:300px;
}
.Material
{
    
    margin-left: 30px;
    background-color: white;
    width:300px;

}
.Assignment
{
  
    margin-left: 40px;
    background-color: white;
    width:300px;
   
}
.classsize
{
    width:280px;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
    
}
.video
{
   
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
.footer
{
    padding:10px 10px;
    background-color:rgb(6, 75, 112); 
    margin-top: 20px;
    margin-bottom: 10px;
}
.titleimage1
{
    width:90px;
    height:70px;
    margin-top: 20px;
    margin-left: 43px;
}
.title1
{
    margin-left:350px;
    margin-top:40px;
    display:flex;
    
}
.b
{
    margin-left:250px;
    font-size: 25px;
    color:brown;
}
.display1
{
    display:flex;
    margin-left: 550px;
    margin-top: 20px;
}
.footersignup
{
    width:110px;
    height:25px;
    padding-top: 5px;
    border:2px solid black;
    margin-left: 50px;
    border-radius: 30px;
    text-align: center;
    background-color:rgb(196, 155, 243);
    color: black;
}
.line
{
    font-size:20px;
    color:white;
    left:0px;
}
.another
{
    margin-left: 530px;
}
.connectus
{
    margin-left: 630px;
    font-size: 18px;
    margin-top: 10px;
    color: red;
}
.googlesize
{
    width:40px;
    height: 40px;
    margin-left:40px;
    border-radius: 50px;
    margin-top: 30px;
}
.text5
{
    margin-left: 70px;
    font-size: 20px;
    color: white;
}
.signupimg
{
    margin-left: 200px;
    margin-top: 50px;
    display: flex;
    border: 1px solid black;
    margin-right: 200px;
    border-radius: 30px;
    margin-bottom: 50px;
    background-color:rgb(247, 248, 251);  

}
.imagesignup
{
    width:150px;
    height: 150px;
    margin-left: 50px;
}
.educate
{
    font-size: 20px;
    margin-top: 65px;
    margin-left: 20px;
}
.signupbutton
{
    width:220px;
    height:40px;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 60px;
    border-radius: 10px;
    background-color: green;
    color: white;
}