.navbar
{
    padding:1px 10px;
    position: fixed; 
    width:100%;
    top:0px; 
    left:0px; 
    background-color:rgb(6, 75, 112);  
}
.titleimage
{
    width:60px;
    height:60px;
    margin-left:43px;
    border-radius: 50%;
}
.display
{
    display:flex;
}
.title
{
    margin-left:635px;
    margin-top:22px;
    font-size:15px;
}
.text
{
    margin-left:60px;
    color:rgb(220, 220, 4)
}
.margin
{
    margin-top:50px;
}
.imagesize
{
    width:92%;
    height:650px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:15px;
}
.image
{
   
    width:590px;
    height:350px;
    border-radius: 5px;
}
.box
{
    position: absolute;
    top:500px;
    left:130px;
    width:150px;
    height:40px;  
    border-radius: 5px; 
}
.website
{
    padding:10px 10px;
    background-color: aliceblue;
    margin-top:20px;
}
.about
{
    padding:10px 10px;
    background-color:lavender;
    margin:10px 600px 10px 600px;
    text-align: center;
    border-radius: 30px;
}
.size
{
    width:600px;
    height:350px;
    margin-left:1px;
    margin-top: 50px;
}
.flex
{
    display:flex;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 10px;
    border-radius: 50px;
    background-color: rgb(223, 234, 243);
}
.homepage
{
    padding:10px 10px ;
    margin-top: 20px;
}
.without
{
    margin-left: 50px;
    font-size: 20px;
    color: brown;
    margin-bottom: -10px;
}
.size1
{
    width:630px;
    height:360px;
    margin-left:600px;
    margin-top: 90px;   
}
.divTag
{
    padding:10px 10px;
    background-color:aliceblue;
    margin-top:10px;
    margin-bottom: 10px;
}
.catagory
{
    padding:10px 10px;
    text-align: center;
    margin:10px 560px 10px 560px;
    border-radius: 30px;
    background-color: lavender	;
}
.a
{
    /* border:2px solid black; */
    padding:10px 10px;
    width:700px;
    height:350px;
}
.text1
{ 
    font-size:20px;
    line-height: 35px;
    width:690px;
}
.flex1
{
    padding:10px 10px;
    margin-left:50px;
    margin-right: 50px;
}
.classes
{
    width:300px;
    height:300px;
   
    margin-left:150px;
    background-color: rgb(164, 243, 205);
}
.videosize
{
    width:280px;
    height:200px;
    margin-top:10px;
}
.Material
{
    width:300px;
    height:300px;
   
    margin-left:30px;
    background-color: rgb(164, 243, 205);
   
}
.Assignment
{
    width:300px;
    height:300px;
   
    margin-left:30px;
    background-color: rgb(164, 243, 205);
}
.totalbox
{
    margin-left:20px;
    display:flex;
}
.video
{
    font-size: 20px;
    padding:10px 10px;
}
.education
{
    position: absolute; 
    top:160px;  
    left:100px; 
    font-size: 28px;
    line-height: 40px;
    color:white;
}
.education1
{
    position: absolute; 
    top:200px;  
    left:100px; 
    font-size: 28px;
    line-height: 40px;
    color:white;  
}
.classsize
{
    margin-top: 10px;
    width:280px;
    height:200px;
    
}
.footer
{
    padding:10px 10px;
    border:2px solid black;
    margin-top:20px;
}
.titleimage1
{
    width:60px;
    height:60px;
    margin-left:-100px;
    border-radius: 50%;
}
