body
{
     background-color:rgb(142, 107, 9) ;
}

.signupbox
{
    padding:0px 10px;
    background-color:rgb(122, 146, 66);
    height:570px;
    margin-top: 10px;
    width:330px;
    /* margin:10px 600px 10px 10px; */
}
.margin
{
    margin-left:1px;
    margin-top:5px; 
}
.login
{
    margin-left: 120px;
    font-size: 15px;
    margin-top:10px;
}
.title
{
    text-align: center;
    margin-top: 5px;
    font-size: 20px;  
}
input
{
    display:flex;
    flex-wrap: wrap;
    font-size:14px;
    padding:8px 10px;
    border-radius: 10px;
    margin-bottom:15px;
    width:290px; 
    margin-left: 10px;
}
.flex
{
    margin:100px 290px 10px 290px;
    display:flex; 
}
.a
{
    padding:10px 1px;
}
.loginimg
{
    width:500px;
    height:570px;
}
.size
{
    width:100px;
    height:100px;
    border-radius: 50%; 
    margin-left: 120px;
    margin-top: 10px;
}
.button
{
    width:150px;
    height:35px;
    border-radius: 30px;
    margin-left:70px;
    margin-top:2px;
    background-color:rgb(120, 89, 4) ;
    color:black;
}
.button:hover
{
    background-color:rgb(65, 10, 110);
    color:white;
}
.connect
{
    margin-left: 80px;
    font-size: 15px;
    margin-top:10px;
    color:brown;
}

.display
{
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
}
.imagesize
{
    width:30px;
    height:30px;
    margin-left: 25px;
}
.text
{
    margin-left:15px;
}
.loginpage
{
    color:rgb(165, 15, 135);
    font-size:20px;
}
.login{
    margin-left:100px;
}
